/* ===================================================================
 * # A. Import Module
 * ------------------------------------------------------------------- */
 @import 'module/math';
 @import 'module/mixin-fluid';
 @import 'module/variables';
 @import 'module/fonts';
 @import 'module/hamburger';
 @import 'module/button';
 @import 'module/shadow';

/* # End of Import Module
 * ----------------------- */

/* ===================================================================
 * # B. Default Colors etc
 * ------------------------------------------------------------------- */
body {
    background-color: map-get($theme-colors, "white");
    color: map-get($theme-colors, "gray-2");
    font-size:1.6rem;
}

h1 {
    color: map-get($theme-colors, "gray-1");
}

.title {
    color: map-get($theme-colors, "white");
}

/* # End of Default Colors
 * ----------------------- */

/* ===================================================================
 * # C. Navbar
 * ------------------------------------------------------------------- */
// 1. -- Navbar Top
 @import 'blocks/navbar';

// 2. -- Sidebar
 @import 'blocks/sidebar';

/* # End of Navbar
 * ----------------------- */

/* ===================================================================
 * # D. Main Sections
 * ------------------------------------------------------------------- */

// 1. -- Main Hero
 @import 'blocks/landing/main-hero';

// 2. -- Main About
 @import 'blocks/landing/main-about';
 .main-about{
    @import 'component/header';
 }

// 3. -- Main Services
 @import 'blocks/landing/main-services';
 .main-service{
    @import 'component/header';
 }

 // 4. -- Main Testimonial
@import 'blocks/landing/main-testimonials';
.main-testimonial{
    @import 'component/header';
}

// -- 5. Footer
footer{
    min-height: 50%;
    background-color: map-get($theme-colors, "primary");
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include fluidpaddingx(2rem, 2rem);
    @media screen and (max-width: 960px) {
        min-height: 40%;
    }

     p{
        @include fluidfontsize(1.4rem, 2.4rem);
        @include futuraMedium;
        letter-spacing: 1px;   
     }

     ul{
         padding-inline-start: 0px;
         @include fluidwidth(24rem, 36rem);
         display: flex;
         justify-content: space-between;
         list-style-type: none;

         a{
             color: white;
             transition: all 0.2s;
         }

         a:hover{
             color: paleturquoise;
         }
     }
 }
/* # End of Main Sections
 * ----------------------- */

/* ===================================================================
 * # E. Generic Sections
 * ------------------------------------------------------------------- */
.main-generic{
    min-height: 100%;
    width:100%;

    @include fluidpaddingtop(12rem, 20rem);
    @include fluidpaddingbottom(5rem, 8rem);
    @include fluidpaddingx(2rem, 10rem);

    display: flex;
    justify-content: center;

    .main-generic-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 60%;

        @media screen and (max-width: 960px) {
            max-width: 100%;
        }

        .main-generic-item{
            width:100%;

            .main-generic-icons{
                list-style-type: none;
                display:flex;
                flex-direction: row;
                justify-content: space-around;

                @include fluidmargintop(2rem, 2.5rem);
            }

            .iframe-map{
                @include fluidwidth(24rem, 48rem);
                @include fluidheight(24rem, 36rem);
                @include fluidpadding(0.4rem, 2rem);
                @include fluidmarginbottom(2rem, 2rem);
                border-radius: 16px;
                border: 5px solid white;
                @include shadow(4);
            }
        }

        .main-generic-item:not(:first-child){
            @include fluidpaddingtop(3rem, 5rem);
        }

        ul{
            padding-inline-start: 0px;
        }

        h1{
            @include futuraRegular();
            @include fluidfontsize(2rem, 3.6rem);
            @include fluidletterspacing(2px, 3.6px);
            text-align: center;
        }

        h2{
            @include futuraRegular();
            @include fluidfontsize(1.6rem, 2.4rem);
            @include fluidletterspacing(1.6px, 2.4px);
            color: map-get($theme-colors, "gray-1")
        }

        b{
            @include futuraMedium();
        }

        .image{
            @include fluidwidth(16rem, 32rem);
        }
    }
}