.navigation-sidebar{
    right:-100%;
    position: fixed;
    width:100%;
    min-height:100%;
    background-color:map-get($theme-colors, "primary");
    color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    z-index: 2001;
    transition: 0.5s ease-in-out;

    .navigation-sidebar-header{
        width:100%;
        top: 0;
        left: 0;
        @include fluidheight(10rem, 14rem);

        ul{
            height:100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            @include fluidpaddingx(2rem, 5rem);

            li{
                h1{
                    @include fluidfontsize(2.4rem, 2.8rem);
                    @include futuraBold();
                    color: white;
                    text-transform: uppercase;
                    font-weight:700;
                }
            }
        }
    }

    .navigation-sidebar-body{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        @include fluidpaddingy(2rem, 5rem);

        .navigation-items{
            display: flex;
            flex-direction: column;
            list-style-type: none;

            .navigation-item{
                @include fluidmarginy(1.4rem, 2.3rem);

                a{
                    @include montserrat();
                    text-transform: uppercase;
                    font-weight: 700;
                    border-bottom: 2px solid transparent;
                    letter-spacing: 1px;
                    transition: all 0.1s;
                }

                a:hover, .active-nav{
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}